<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center">
      <img src="header_logo.png" alt="CG Govt">
      <span class="d-none d-lg-block mx-auto">एकीकृत कृषक पोर्टल</span>
    </a>
    <i class="toggle-sidebar-btn" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </i>
  </div>
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block" (click)="toggleFullScreen()" style="cursor: pointer;">
        <a class="nav-link nav-icon">
          <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
          <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
        </a>
      </li>
      <li class="nav-item me-3">
        <button (click)="changePassword()" class="btn btn-success btn-outline-light btn-sm text-white logout">पासवर्ड
          बदले
        </button>
      </li>
      <li class="nav-item me-3">
        <button (click)="signOut()" class="btn btn-success btn-outline-light btn-sm text-white logout">लॉगआउट</button>
      </li>
    </ul>
  </nav>
</header>
