<mat-card>
  <mat-card-content>
    <form [formGroup]="passResetForm">
      <h5 class="text_primary">
        <b>पासवर्ड रिसेट</b>
      </h5>
      <hr class="mt-0">
      <div class="row">
        <div class="col-4">
          <ng-select formControlName="usertype" appearance="outline" placeholder="यूजर का प्रकार चुने" [selectOnTab]="true"
                     (change)="userTypeSelected($event)">
            <ng-option *ngFor="let s of userTypeList" [value]="s.usertype">{{ s.type_name_hi }}</ng-option>
          </ng-select>
        </div>
        <div class="col-4" *ngIf="isShowDistrict">
          <ng-select formControlName="district_id" appearance="outline" placeholder="जिला चुने" [selectOnTab]="true"
                     (change)="districtSelected($event)">
            <ng-option *ngFor="let d of districts" [value]="d.district_id">{{ d.District_Name }} ({{ d.District_Name_Eng }})</ng-option>
          </ng-select>
        </div>
        <div class="col-4" *ngIf="isShowTehsil">
          <ng-select formControlName="tehsil_id" appearance="outline" placeholder="तहसील चुने" [selectOnTab]="true">
            <ng-option *ngFor="let tehsil of tehsils" [value]="tehsil.tehsil_id">{{ tehsil.tehsil_name }} ({{ tehsil.tehsil_name_en }})</ng-option>
          </ng-select>
        </div>
        <div class="col-4" *ngIf="isShowSubdistrict">
          <ng-select formControlName="subdistrict_code" appearance="outline" placeholder="विकासखण्ड चुने" [selectOnTab]="true">
            <ng-option *ngFor="let sb of subdistricts" [value]="sb.subdistrict_code">{{ sb.subdistrict_name }}</ng-option>
          </ng-select>
        </div>
        <div class="col-4" *ngIf="isShowUserId">
          <mat-form-field appearance="outline">
            <mat-label>{{ isRAEOorRHEO }} का यूजर आई. डी.</mat-label>
            <input matInput isNumber maxlength="6" formControlName="user_id">
          </mat-form-field>
        </div>
        <div class="col-4" *ngIf="isShowDivison">
          <ng-select formControlName="div_id" appearance="outline" placeholder="संभाग चुने" [selectOnTab]="true">
            <ng-option *ngFor="let d of divisons" [value]="d.div_id">{{ d.division_name_hi }} ({{ d.division_name_en }})</ng-option>
          </ng-select>
        </div>
        <div class="col-4" *ngIf="isShowBank">
          <ng-select formControlName="bank_id" appearance="outline" placeholder="बैंक चुने" [selectOnTab]="true"
                     (change)="bankSelected($event)">
            <ng-option *ngFor="let c of coopBanks" [value]="c.c_bank_code">{{ c.c_bank_name }} ({{ c.bankcode }})</ng-option>
          </ng-select>
        </div>
        <div class="col-4">
          <button mat-raised-button color="primary" class="p-1 mt-2 w-100 text-white" [disabled]="passResetForm.invalid" (click)="resetPassword()">पासवर्ड रीसेट करें</button>
        </div>
      </div>
      <br>
    </form>
  </mat-card-content>
</mat-card>
