.chart-container {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Center-aligns the chart horizontally */
  align-items: center; /* Center-aligns the chart vertically */
}
