<div class="row">
    <div class="col-sm-6">
        <mat-card>
            <mat-card-content>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Filesystem</th>
                        <th>Mounted</th>
                        <th>Size</th>
                        <th>Avail</th>
                        <th>Use%</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of process">
                        <td>{{data.Filesystem}}</td>
                        <td>{{data.Mounted}}</td>
                        <td>{{data.Size}}</td>
                        <td>{{data.Avail}}</td>
                        <td>{{data['Use%']}}</td>
                    </tr>
                    </tbody>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
