<mat-card>
  <mat-card-content>
    <form [formGroup]="basicFormGroup">
      <div class="row">
        <div class="col-sm-3 col-12">
          <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <mat-select formControlName="usertype" (selectionChange)="getData();pageSize=10;currentPage=0">
              <mat-option value="-1">All User</mat-option>
              <mat-option [value]="2">Admin</mat-option>
              <mat-option *ngFor="let user of users" [value]="user.usertype">{{ user.type_name_hi }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3 col-6">
          <mat-form-field appearance="outline">
            <mat-label>User ID</mat-label>
            <input formControlName="user_id" matInput (focusout)="resetData()">
          </mat-form-field>
        </div>
        <div class="col-sm-2 col-6">
          <mat-form-field appearance="outline">
            <mat-label>Session</mat-label>
            <mat-select formControlName="season" (selectionChange)="getData();pageSize=10;currentPage=0">
              <mat-option value="23">2023</mat-option>
              <mat-option value="24">2024</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-2 col-6">
          <button style="height: 50px" mat-raised-button color="primary" (click)="getData()" class="w-100">Get Data</button>
        </div>
        <div class="col-sm-2 col-6">
          <button style="height: 50px" (click)="terminate('-1')" mat-raised-button color="warn" class="w-100">Terminate All</button>
        </div>
      </div>
    </form>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>SN</th>
          <th>Username</th>
          <th>User ID</th>
          <th>Type</th>
          <th>Times</th>
          <th>Season</th>
          <th>District</th>
          <th>Expire</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="sessions.length>0 &&is_read">
          <tr *ngFor="let sessoin of sessions;let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{ sessoin.username }}</td>
            <td>{{ sessoin.user_id }}</td>
            <td>{{ sessoin.type_name_hi }}</td>
            <td>{{ sessoin.times }}</td>
            <td>{{ sessoin.season }}</td>
            <td>{{ sessoin.District_Name }}</td>
            <td>{{ sessoin.expires | date: 'medium' }}</td>
            <td>
              <button mat-raised-button color="primary" (click)="terminate(sessoin.user_id)">Terminate</button>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="sessions.length==0&&is_read">
          <td colspan="12">कोई रिकॉर्ड उपलब्ध नहीं है|</td>
        </tr>
        <tr *ngIf="!is_read">
          <td colspan="12">लोड हो रहा है कृपया प्रतीक्षा करे |</td>
        </tr>
        </tbody>
      </table>
    </div>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions" showFirstLastButtons aria-label="Select page"
                   (page)="pageChanged($event)"></mat-paginator>
  </mat-card-content>
</mat-card>
