$light_background: #EDF2F3 !important;
$footer_background: #212529 !important;
$primary_background: rgb(39, 121, 205) !important;
$primary_text: rgb(39, 121, 205) !important;
$box-shadow: 0 1px 3px rgb(0 0 0 / 8%), 0 3px 3px rgb(0 0 0 / 8%) !important;
$header: linear-gradient(to right, rgb(39, 121, 205), rgb(39, 174, 96));

$invalid_color: rgb(39, 121, 205) !important;
$valid_color: green;
$normal_color: #000;

