<form [formGroup]="basicFormGroup">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>यूजर आई. डी.</mat-label>
      <input matInput placeholder="यूजर आई. डी." formControlName="user_id" readonly="true">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label><b>नया पासवर्ड</b></mat-label>
      <input matInput appDetectCapsLock (capsLockOn)="capsLockDetect($event)" placeholder="नया  पासवर्ड"
             formControlName="password" type="{{ showPassword ? 'text' : 'password' }}">
      <mat-icon matSuffix [hidden]="showPassword" (click)="togglePasswordVisibility()">visibility_off</mat-icon>
      <mat-icon matSuffix [hidden]="!showPassword" (click)="togglePasswordVisibility()">visibility</mat-icon>
    </mat-form-field>
    <mat-error
      *ngIf="control('password').invalid  && (control('password').dirty || control('password').touched)">
      <mat-error *ngIf="control('password').errors!.required"> पासवर्ड भरना अनिवार्य है
        |
      </mat-error>
      <mat-error *ngIf="control('password').errors!.pattern">पासवर्ड में न्यूनतम 8 अक्षर और
        अधिकतम 15 अक्षर होना चाहिए। जिसमें कम से कम 1 कैपिटल, 1 स्मॉल , 1 संख्या और 1 विशेष
        अक्षर होना अनिवार्य है ।
      </mat-error>
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label><b>कन्फर्म पासवर्ड</b></mat-label>
      <input matInput appDetectCapsLock (capsLockOn)="capsLockDetect($event)"
             placeholder=" कन्फर्म पासवर्ड " formControlName="cpassword" type="password">
    </mat-form-field>
    <mat-error
      *ngIf="control('cpassword').invalid  && (control('cpassword').dirty || control('cpassword').touched)">पासवर्ड
      गलत है |
    </mat-error>
    <div class="text-center">
      <p *ngIf="isCapsLockIsOn" style="color: black; font-weight: bolder;">Capslock Is On</p>
    </div>
    <mat-dialog-actions class="justify-content-evenly">
      <button mat-raised-button color="primary" (click)="resetPassword()">पासवर्ड बदले</button>
      <button mat-raised-button mat-dialog-close color="warn">बाहर जाये</button>
    </mat-dialog-actions>
  </mat-dialog-content>
</form>
