<svg id="circle-nav-services" width="100%" height="100%" viewBox="-50 -180 750 750">
  <symbol id="circle-nav-copy" viewBox="-150 -150 300 300">
    <g>
      <text x="0" y="-30" font-family="Verdana" font-size="34" font-weight="bold" fill="white" text-anchor="middle">एकीकृत</text>
      <text x="0" y="35" font-family="Verdana" font-size="38" font-weight="bold" fill="white" text-anchor="middle">किसान पोर्टल</text>
    </g>
  </symbol>
  <svg x="180" y="25" width="350" height="350" viewBox="0 0 600 600">
    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="250.2542" y1="496.283" x2="250.2542" y2="-.2102">
      <stop offset="0" stop-color="#0F68A9"/>
      <stop offset="1" stop-color="#3DDEED" stop-opacity="0"/>
    </linearGradient>
    <path fill="url(#a)" d="M250.3 0c137 0 248.1 111.1 248.1 248.1S387.3 496.2 250.3 496.2 2.2 385.1 2.2 248.1 113.2 0 250.3 0C112.5 0 .8 111.7.8 249.5S112.5 499 250.3 499s249.5-111.7 249.5-249.5S388 0 250.3 0z"/>
  </svg>
  <g id="service-collection">
  </g>

  <circle cx="325" cy="170" r="120" class="center"/>

  <use x="185" y="30" width="280" height="280" xlink:href="#circle-nav-copy" class="nav-copy"/>
</svg>
